@import './variables.less';
// 这里可以定义自己的样式
.primary-bgColor{
  background-color:@primary-color;
}

.primary-fontColor{
  color:@primary-color;
}

.primary-border-left-color{
  border-left-color: @primary-color;
}
